Mini_Statement_XSD/FIELD48.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recSepFieldsFmt="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat">
    <xsd:import namespace="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" schemaLocation="IBMdefined/RecordSeparatedFieldFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format encoding="{$dfdl:encoding}" escapeSchemeRef="" occursCountKind="implicit" ref="recSepFieldsFmt:RecordSeparatedFieldsFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element ibmSchExtn:docRoot="true" name="FIELD48">
		<xsd:complexType>
			<xsd:sequence dfdl:initiatedContent="no" dfdl:separator="" dfdl:separatorSuppressionPolicy="anyEmpty">
								<xsd:element dfdl:initiator="" maxOccurs="unbounded" name="body">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="" dfdl:terminator="~">
							<xsd:element dfdl:emptyValueDelimiterPolicy="terminator" dfdl:terminator="|" dfdl:textPadKind="padChar" dfdl:textTrimKind="none" ibmDfdlExtn:sampleValue="body_value1" minOccurs="0" name="DATE_TIME">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="25"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element dfdl:emptyValueDelimiterPolicy="terminator" dfdl:initiator="" dfdl:terminator="|" dfdl:textPadKind="padChar" dfdl:textTrimKind="none" ibmDfdlExtn:sampleValue="body_value2" minOccurs="0" name="TRAN_TYPE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="25"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element dfdl:emptyValueDelimiterPolicy="terminator" dfdl:initiator="" dfdl:terminator="|" dfdl:textPadKind="padChar" dfdl:textTrimKind="none" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="SIGN">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="25"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                            						<xsd:element dfdl:emptyValueDelimiterPolicy="terminator" dfdl:initiator="" dfdl:terminator="|" dfdl:textPadKind="padChar" dfdl:textTrimKind="none" minOccurs="0" name="TRAN_AMOUNT">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="25"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                            <xsd:element dfdl:emptyValueDelimiterPolicy="terminator" dfdl:initiator="" dfdl:terminator="" dfdl:textPadKind="padChar" dfdl:textTrimKind="none" minOccurs="0" name="CURR_CODE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:minLength value="25"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
                							            </xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>